{% content_for metatags %}
  {% render 'theme/simple/home/metatags', lang: lang %}
{% endcontent_for %}

{% render 'theme/simple/home/hero' %}
{% render 'theme/simple/home/shields' %}
{% render 'theme/simple/home/shortcuts' %}

{% for item in categories %}
  {% if item[1].results.size > 0 %}
    <section class="container py-12">
      <h2 class="bigtitle">
        {{ item[0] | t: scope: 'app.home.feeds' }}
      </h2>
      <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
        {% for item in item[1].results %}
          {% render 'theme/simple/home/category', object: item %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}


{% for item in promoted %}
  {% if item[1].results.size > 0 %}
    <section class="py-12 bg-gray-600">
    <div class="container">
      <h2 class="text-content-inverted bigtitle">
        {{ item[0] | t: scope: 'app.home.feeds' }}
      </h2>

      <div class="grid gap-5 md:grid-cols-3 lg:grid-cols-4">
        {% for item in item[1].results %}
          {% render 'theme/simple/items/card', item: item, current_profile: current_profile, showMeta: false %}
        {% endfor %}
      </div>
      </div>
    </section>
  {% endif %}
{% endfor %}

{% render 'theme/simple/home/ad' %}
{% render 'theme/simple/home/cta' %}

{% for item in groups %}
  {% if item[1].results.size > 0 %}
    <section class="container py-5 mb-3">
      <h2 class="bigtitle">
        {{ item[0] | t: scope: 'app.home.feeds' }}
      </h2>

      <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
        {% for item in item[1].results %}
          {% render 'theme/simple/home/card', actor: item.payload.actor, target: item.payload.target, object: item.payload.object, type: item.payload.type %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}

{% for item in items %}
  {% if item[1].results.size > 0 %}
    <section class="container py-5 mb-3">
      <h2 class="bigtitle">
        {{ item[0] | t: scope: 'app.home.feeds' }}
      </h2>

      <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
        {% for item in item[1].results %}
          {% render 'theme/simple/home/card', actor: item.payload.actor, target: item.payload.target, object: item.payload.object, type: item.payload.type %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}

{% for item in profiles %}
  {% if item[1].results.size > 0 %}
    <section class="container py-5 mb-3">
      <h2 class="bigtitle">
        {{ item[0] | t: scope: 'app.home.feeds' }}
      </h2>

      <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
        {% for item in item[1].results %}
          {% render 'theme/simple/home/card', actor: item.payload.actor, target: item.payload.target, object: item.payload.object, type: item.payload.type %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}

{% for item in posts %}
  {% if item[1].results.size > 0 %}
    <section class="container py-5 mb-3">
      <h2 class="bigtitle">
        {{ item[0] | t: scope: 'app.home.feeds' }}
      </h2>

      <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
        {% for item in item[1].results %}
          {% render 'theme/simple/home/card', actor: item.payload.actor, target: item.payload.target, object: item.payload.object, type: item.payload.type %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}


{% for item in comments %}
  {% if item[1].results.size > 0 %}
    <section class="container py-5 mb-3">
      <h2 class="bigtitle">
        {{ item[0] | t: scope: 'app.home.feeds' }}
      </h2>

      <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
        {% for item in item[1].results %}
          {% render 'theme/simple/home/card', actor: item.payload.actor, target: item.payload.target, object: item.payload.object, type: item.payload.type %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}


<section class="py-12 bg-gray-600 bg-left-top bg-no-repeat bg-cover text-content-inverted"
  style="background-image: url('{{ "images/home/lines_horizontal3.svg" | asset_url }}')">
  <div class="container items-center justify-around md:flex">

    <header class="mb-4 text-content-inverted">
      <h2 class="">
        <div class="font-bold uppercase subtitle ">Subscribe and</div>
        <div class="bigtitle !mt-0 !mb-0 uppercase">Be the first to know</div>
        <div class="">about the latest challenges and news!</div>
      </h2>
    </header>

    <form action="" class="whitespace-nowrap">
      <input type="email" placeholder="Email address" class="w-64 rounded-tl rounded-bl border-panel">
      <button class="button -ms-2">Subscribe</button>
    </form>

  </div>
</section>


{% render 'theme/simple/home/partners' %}
